# UCB Project 1 - Car Attributes #

In [15]:
import pandas as pd
import numpy as np
import datetime

car_model_attributes = "data/Car Dataset 1945-2020.csv"
df_car_model_attributes = pd.read_csv(car_model_attributes)

print(datetime.datetime.now())

C:\Users\jerry\AppData\Local\Temp\ipykernel_8168\1772239503.py:6: DtypeWarning: Columns (9,11,12,13,14,15,16,17,19,20,24,27,29,33,43,44,47,49,51,69,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df_car_model_attributes = pd.read_csv(car_model_attributes)

2024-03-20 17:59:11.228444

In [2]:
df_car_model_attributes.head()

,id_trim,make,model,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Count missing values in each column
missing_values = df_car_model_attributes.isnull().sum()
data_types = df_car_model_attributes.dtypes
unique = df_car_model_attributes.nunique()
non_null_counts = df_car_model_attributes.count()

null_counts = df_car_model_attributes.isnull().sum()
total_rows = len(df_car_model_attributes)
null_percentage = (null_counts / total_rows) * 100

dataframe_metadata = pd.DataFrame({'Non-null Counts': non_null_counts, 'missing_values' :missing_values, 'null_percentage': null_percentage ,'Data Types': data_types, 'unique': unique})
dataframe_metadata

,Non-null Counts,missing_values,null_percentage,Data Types,unique
id_trim,70823,0,0.000000,int64,70823
make,70823,0,0.000000,object,255
model,70823,0,0.000000,object,2706
Generation,70819,4,0.005648,object,1742
Year_from,70586,237,0.334637,float64,97
...,...,...,...,...,...
safety_assessment,1012,69811,98.571086,object,7
rating_name,1012,69811,98.571086,object,2
battery_capacity_KW_per_h,15,70808,99.978820,object,10
electric_range_km,15,70808,99.978820,float64,11
charging_time_h,7,70816,99.990116,object,6

In [17]:
import pandas as pd

# Assuming df is your DataFrame

# Convert specific columns to float
columns_to_convert = ['Year_from', 'Year_to']
df_car_model_attributes[columns_to_convert] = df_car_model_attributes[columns_to_convert].astype(float)

# Drop rows with any missing values
df_car_model_attributes.dropna(subset=columns_to_convert, inplace=True)

# Optionally, convert the columns back to integer
df_car_model_attributes[columns_to_convert] = df_car_model_attributes[columns_to_convert].astype(int)

In [18]:
import pandas as pd
import numpy as np

# Replace infinite values with NaN
df_car_model_attributes.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows with NaN values in specified columns
df_car_model_attributes_Nonull = df_car_model_attributes.dropna(subset=['make', 'model', 'Year_from', 'Year_to'])

# Show the cleaned dataframe
df_car_model_attributes_Nonull.head()

,id_trim,make,model,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993,2000,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993,2000,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993,2000,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993,2000,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Merge df_car_prices with df_car_model_attributes dataframes #####

In [19]:
import pandas as pd
# Convert specific columns to float
columns_to_convert = ['Year_from', 'Year_to']
df_car_model_attributes_Nonull[columns_to_convert] = df_car_model_attributes_Nonull[columns_to_convert].astype(float)

# Drop rows with any missing values
df_car_model_attributes_Nonull.dropna(subset=columns_to_convert, inplace=True)

# Optionally, convert the columns back to integer
df_car_model_attributes_Nonull[columns_to_convert] = df_car_model_attributes_Nonull[columns_to_convert].astype(int)
df_car_model_attributes_Nonull.head()

,id_trim,make,model,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993,2000,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993,2000,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993,2000,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993,2000,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Need to change Year_from to Year_to to have make, model and year
#df_car_model_attributes

# Create an empty list to store the expanded data
df_car_model_attributes_year = []
df_car_model_attributes['Year_to'] = df_car_model_attributes['Year_to'].astype(int)
df_car_model_attributes['Year_from'] = df_car_model_attributes['Year_from'].astype(int)

# Iterate over each row in the dataframe
for index, row in df_car_model_attributes.iterrows():
    # Generate a range of years from Year_from to Year_to (inclusive)
    years_range = range(row['Year_from'], row['Year_to'] + 1)
    
    # Append each year along with make and model to the expanded data list
    for year in years_range:
        df_car_model_attributes_year.append({
            'make': row['make'],
            'model': row['model'],
            'year': year,
            'Generation': row['Generation'],
            'Year_from': row['Year_from'],
            'Year_to': row['Year_to'],
            'Series': row['Series'],
            'Trim': row['Trim'],
            'Body_type': row['Body_type'],
            'load_height_mm': row['load_height_mm'],
            'number_of_seats': row['number_of_seats'],
            'length_mm': row['length_mm'],
            'width_mm': row['width_mm'],
            'height_mm': row['height_mm'],
            'wheelbase_mm': row['wheelbase_mm'],
            'front_track_mm': row['front_track_mm'],
            'rear_track_mm': row['rear_track_mm'],
            'curb_weight_kg': row['curb_weight_kg'],
            'wheel_size_r14': row['wheel_size_r14'],
            'ground_clearance_mm': row['ground_clearance_mm'],
            'trailer_load_with_brakes_kg': row['trailer_load_with_brakes_kg'],
            'payload_kg': row['payload_kg'],
            'back_track_width_mm': row['back_track_width_mm'],
            'front_track_width_mm': row['front_track_width_mm'],
            'clearance_mm': row['clearance_mm'],
            'full_weight_kg': row['full_weight_kg'],
            'front_rear_axle_load_kg': row['front_rear_axle_load_kg'],
            'max_trunk_capacity_l': row['max_trunk_capacity_l'],
            'cargo_compartment_length_width_height_mm': row['cargo_compartment_length_width_height_mm'],
            'cargo_volume_m3': row['cargo_volume_m3'],
            'minimum_trunk_capacity_l': row['minimum_trunk_capacity_l'],
            'maximum_torque_n_m': row['maximum_torque_n_m'],
            'injection_type': row['injection_type'],
            'overhead_camshaft': row['overhead_camshaft'],
            'cylinder_layout': row['cylinder_layout'],
            'number_of_cylinders': row['number_of_cylinders'],
            'compression_ratio': row['compression_ratio'],
            'engine_type': row['engine_type'],
            'valves_per_cylinder': row['valves_per_cylinder'],
            'boost_type': row['boost_type'],
            'cylinder_bore_mm': row['cylinder_bore_mm'],
            'stroke_cycle_mm': row['stroke_cycle_mm'],
            'engine_placement': row['engine_placement'],
            'cylinder_bore_and_stroke_cycle_mm': row['cylinder_bore_and_stroke_cycle_mm'],
            'turnover_of_maximum_torque_rpm': row['turnover_of_maximum_torque_rpm'],
            'max_power_kw': row['max_power_kw'],
            'presence_of_intercooler': row['presence_of_intercooler'],
            'capacity_cm3': row['capacity_cm3'],
            'engine_hp': row['engine_hp'],
            'engine_hp_rpm': row['engine_hp_rpm'],
            'drive_wheels': row['drive_wheels'],
            'bore_stroke_ratio': row['bore_stroke_ratio'],
            'number_of_gears': row['number_of_gears'],
            'turning_circle_m': row['turning_circle_m'],
            'transmission': row['transmission'],
            'mixed_fuel_consumption_per_100_km_l': row['mixed_fuel_consumption_per_100_km_l'],
            'range_km': row['range_km'],
            'emission_standards': row['emission_standards'],
            'fuel_tank_capacity_l': row['fuel_tank_capacity_l'],
            'acceleration_0_100_km/h_s': row['acceleration_0_100_km/h_s'],
            'max_speed_km_per_h': row['max_speed_km_per_h'],
            'city_fuel_per_100km_l': row['city_fuel_per_100km_l'],
            'CO2_emissions_g/km': row['CO2_emissions_g/km'],
            'fuel_grade': row['fuel_grade'],
            'highway_fuel_per_100km_l': row['highway_fuel_per_100km_l'],
            'back_suspension': row['back_suspension'],
            'rear_brakes': row['rear_brakes'],
            'front_brakes': row['front_brakes'],
            'front_suspension': row['front_suspension'],
            'steering_type': row['steering_type'],
            'car_class': row['car_class'],
            'country_of_origin': row['country_of_origin'],
            'number_of_doors': row['number_of_doors'],
            'safety_assessment': row['safety_assessment'],
            'rating_name': row['rating_name'],
            'battery_capacity_KW_per_h': row['battery_capacity_KW_per_h'],
            'electric_range_km': row['electric_range_km'],
            'charging_time_h': row['charging_time_h']
             
        })
# Create a new dataframe from the expanded data list
df_car_model_attributes_year = pd.DataFrame(df_car_model_attributes_year)
df_car_model_attributes_year.head()

,make,model,year,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,AC,ACE,1993,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AC,ACE,1994,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AC,ACE,1995,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AC,ACE,1996,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AC,ACE,1997,1 generation,1993,2000,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Assuming df_car_model_attributes_year is your DataFrame

# Check for duplicate rows
duplicate_rows = df_car_model_attributes_year.duplicated()

# Count the number of duplicate rows
num_duplicates = duplicate_rows.sum()

if num_duplicates == 0:
    print("Each row is unique.")
else:
    print(f"There are {num_duplicates} duplicate rows, the dataframe size is {len(df_car_model_attributes_year)}.")

There are 18391 duplicate rows, the dataframe size is 415851.

In [ ]:
df_car_model_attributes_year.to_csv('data/clean_car_attributes.csv', index=False)
print(datetime.datetime.now())

In [ ]:
df_car_model_attributes_year.head()

In [14]:
#Filter by items to see duplicates, or any other data
make_value = 'Acura'
model_value = 'CL'
year_value = 1997

filtered_df = df_car_model_attributes_year[(df_car_model_attributes_year['make'] == make_value) &
                                     (df_car_model_attributes_year['model'] == model_value) &
                                     (df_car_model_attributes_year['year'] == year_value)]

display(filtered_df)

,make,model,year,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
205,Acura,CL,1997,1 generation,1996,2000,Coupe,2.2 AT,Coupe,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,Acura,CL,1997,1 generation,1996,2000,Coupe,2.2 MT,Coupe,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Acura,CL,1997,1 generation,1996,2000,Coupe,2.3 AT,Coupe,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Acura,CL,1997,1 generation,1996,2000,Coupe,2.3 MT,Coupe,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Acura,CL,1997,1 generation,1996,2000,Coupe,3.0 AT,Coupe,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
distinct_car_class = filtered_df['car_class'].unique()

In [ ]:
distinct_car_class