# UCB Project 1 (car_prices) #

In [1]:
import pandas as pd
import datetime
# When last runL Print current date and time

str_path_file = "Data/car_prices.csv"

# Read the CSV file into a DataFrame
df_car_prices = pd.read_csv(str_path_file)
print(datetime.datetime.now())

2024-03-20 17:48:32.381690

In [2]:
df_car_prices.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [3]:
df_car_prices.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [4]:
# Count missing values in each column
missing_values = df_car_prices.isnull().sum()
data_types = df_car_prices.dtypes
unique = df_car_prices.nunique()
non_null_counts = df_car_prices.count()

null_counts = df_car_prices.isnull().sum()
total_rows = len(df_car_prices)
null_percentage = (null_counts / total_rows) * 100

dataframe_metadata = pd.DataFrame({'Non-null Counts': non_null_counts, 'missing_values' :missing_values, 'null_percentage': null_percentage ,'Data Types': data_types, 'unique': unique})
dataframe_metadata

,Non-null Counts,missing_values,null_percentage,Data Types,unique
year,558837,0,0.000000,int64,34
make,548536,10301,1.843292,object,96
model,548438,10399,1.860829,object,973
trim,548186,10651,1.905922,object,1963
body,545642,13195,2.361154,object,87
transmission,493485,65352,11.694287,object,4
vin,558833,4,0.000716,object,550297
state,558837,0,0.000000,object,64
condition,547017,11820,2.115107,float64,41
odometer,558743,94,0.016821,float64,172278
color,558088,749,0.134028,object,46
interior,558088,749,0.134028,object,17
seller,558837,0,0.000000,object,14263
mmr,558799,38,0.006800,float64,1101
sellingprice,558825,12,0.002147,float64,1887
saledate,558825,12,0.002147,object,3766

# Below code needs to be run twice to work #

In [ ]:
import pandas as pd
# When last runL Print current date and time
print(datetime.datetime.now())
#Needed to run twice to work.  Why?

# Convert 'saledate' to datetime object, ignoring errors
df_car_prices['saledate'] = pd.to_datetime(df_car_prices['saledate'], errors='coerce')

# Drop rows with invalid datetime values (NaT)
df_car_prices.dropna(subset=['saledate'], inplace=True)

# Extract year from 'saledate'
df_car_prices['saledate_year'] = df_car_prices['saledate'].dt.year

# Calculate age as the difference between 'year' and 'saledate_year'
df_car_prices['age'] = df_car_prices['saledate_year'] - df_car_prices['year']

# Drop 'saledate_year' column if not needed
df_car_prices.drop(columns=['saledate_year'], inplace=True)

In [15]:
df_car_prices.to_csv('data/clean_car_prices.csv', index=False)

In [7]:
#Filter by items to see duplicates, or any other data
make_value = 'Acura'
model_value = 'CL'
year_value = 1997

filtered_df = df_car_prices[(df_car_prices['make'] == make_value) &
                                     (df_car_prices['model'] == model_value) &
                                     (df_car_prices['year'] == year_value)]

display(filtered_df)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
29761,1997,Acura,CL,2.2,Coupe,automatic,19uya1247vl006813,va,2.0,123999.0,green,gray,purple heart,1175.0,325.0,2014-12-18 11:50:00+08:00
49334,1997,Acura,CL,3.0 Premium,Coupe,NaN,19uya2257vl017017,tx,3.0,128464.0,blue,gray,capital auto auction,1350.0,1300.0,2015-01-13 03:00:00+08:00
49358,1997,Acura,CL,3,Coupe,automatic,19uya224xvl011025,pa,2.0,75013.0,silver,gray,nawi leasing inc,850.0,1700.0,2015-02-06 01:00:00+08:00
131389,1997,Acura,CL,2.2 Premium,Coupe,manual,19uya1150vl018229,ca,2.0,375363.0,red,black,onemain rem/alliance motor cars,475.0,400.0,2015-01-14 03:00:00+08:00
164065,1997,Acura,CL,2.2 Premium,Coupe,manual,19uya1152vl011623,md,2.0,234679.0,green,gray,purple heart services inc,700.0,350.0,2015-01-20 04:00:00+08:00
234437,1997,Acura,CL,2.2 Premium,Coupe,automatic,19uya1259vl008474,pa,3.0,174137.0,blue,black,purple heart,950.0,550.0,2015-02-03 05:01:00+08:00
234464,1997,Acura,CL,2.2,Coupe,automatic,19uya1249vl015397,nc,19.0,175551.0,blue,gray,dt credit corporation,875.0,1400.0,2015-02-03 01:30:00+08:00
275778,1997,Acura,CL,2.2 Premium,Coupe,automatic,19uya1258vl009485,va,19.0,190611.0,red,black,brown's manassas hyundai,750.0,400.0,2015-02-26 01:05:00+08:00
290545,1997,Acura,CL,3.0 Premium,Coupe,automatic,19uya2259vl003409,tx,19.0,146201.0,white,gray,caprock auto remarketing,1000.0,1200.0,2015-02-12 03:00:00+08:00
293285,1997,Acura,CL,3.0 Premium,Coupe,automatic,19uya225xvl003306,ga,19.0,124652.0,gray,gray,mercedes benz of buckhead,1050.0,1800.0,2015-02-12 02:00:00+08:00
354782,1997,Acura,CL,2.2 Premium,Coupe,manual,19uya1159vl021033,fl,19.0,271135.0,black,black,autonation toyota pinellas park,775.0,600.0,2015-02-24 10:00:00+08:00
382290,1997,Acura,CL,3.0 Premium,Coupe,automatic,19uya2259vl005256,fl,23.0,127762.0,blue,gray,autonation acura sanford,1575.0,2000.0,2015-03-02 16:00:00+08:00
386792,1997,Acura,CL,3.0 Premium,Coupe,automatic,19uya2251vl008569,nc,19.0,146033.0,white,gray,fort mill ford inc,1475.0,1300.0,2015-03-03 02:00:00+08:00
425504,1997,Acura,CL,3.0 Premium,Coupe,automatic,19uya225xvl014659,ga,2.0,196808.0,green,gray,enterprise leasing co. of georgia,1100.0,600.0,2015-05-14 03:00:00+07:00
456644,1997,Acura,CL,2.2 Premium,Coupe,automatic,19uya1250vl013529,wa,23.0,224004.0,white,gray,dtg trade ins,550.0,750.0,2015-05-27 07:05:00+07:00
473456,1997,Acura,CL,3.0 Premium,coupe,automatic,19uya2256vl014125,pa,19.0,211837.0,silver,gray,hertz remarketing,550.0,300.0,2015-05-29 02:00:00+07:00
477374,1997,Acura,CL,3.0 Premium,coupe,automatic,19uya2257vl800631,pa,2.0,392026.0,beige,gray,purple heart,50.0,300.0,2015-06-02 06:01:00+07:00
485602,1997,Acura,CL,2.2 Premium,coupe,automatic,19uya1256vl001157,fl,19.0,254631.0,green,gray,autonation honda sanford,500.0,300.0,2015-06-02 11:05:00+07:00
485603,1997,Acura,CL,3.0 Premium,coupe,automatic,19uya225xvl017206,fl,19.0,154294.0,red,black,autonation toyota scion weston,875.0,300.0,2015-06-02 10:30:00+07:00